!!!

%html{ lang: "en" }
  %head
    %link{ rel: "stylesheet", href: "app.css" }
    %link{ href: "favicon.png", rel: "shortcut icon", type: "image/png" }
    %meta{ property: "og:image", content: "http://i.imgur.com/3dbsxOb.png" }
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" }
    %title Frankr.xyz
  %body
    %script{ src: "app.js" }
    #doc
      %h1 Frank Sun-board 2.0
      %h3 Every mistake can be forgiven...BUT NOT THIS ONE!!!
      %audio{ src: "ah.m4a", autobuffer: "true", title: "Ah!" }
      %audio{ src: "are-you-blocking-me.m4a", autobuffer: "true", title: "Are you blocking me?" }
      %audio{ src: "bye-bye.m4a", autobuffer: "true", title: "Bye bye!" }
      %audio{ src: "calm-down.m4a", autobuffer: "true", title: "Calm down" }
      %audio{ src: "chance.m4a", autobuffer: "true", title: "Chance" }
      %audio{ src: "data-highway.m4a", autobuffer: "true", title: "Data highway" }
      %audio{ src: "disrespect-him.m4a", autobuffer: "true", title: "Disrespect him" }
      %audio{ src: "fuck-1.m4a", autobuffer: "true", title: "Fuck (1)" }
      %audio{ src: "fuck-2.m4a", autobuffer: "true", title: "Fuck (2)" }
      %audio{ src: "fuck-3.m4a", autobuffer: "true", title: "Fuck (3)" }
      %audio{ src: "fuck-4.m4a", autobuffer: "true", title: "Fuck (4)" }
      %audio{ src: "fuck-5.m4a", autobuffer: "true", title: "Fuck (5)" }
      %audio{ src: "fuck-6.m4a", autobuffer: "true", title: "Fuck (6)" }
      %audio{ src: "hit-my-ball.m4a", autobuffer: "true", title: "Hit my ball" }
      %audio{ src: "im-experimenting.m4a", autobuffer: "true", title: "I'm experimenting" }
      %audio{ src: "im-trying.m4a", autobuffer: "true", title: "I'm trying" }
      %audio{ src: "laugh-1.m4a", autobuffer: "true", title: "Laugh (1)" }
      %audio{ src: "laugh-2.m4a", autobuffer: "true", title: "Laugh (2)" }
      %audio{ src: "my-bad-1.m4a", autobuffer: "true", title: "My bad (1)" }
      %audio{ src: "my-bad-2.m4a", autobuffer: "true", title: "My bad (2)" }
      %audio{ src: "my-bad-3.m4a", autobuffer: "true", title: "My bad (3)" }
      %audio{ src: "nice-d.m4a", autobuffer: "true", title: "Nice d" }
      %audio{ src: "no-1.m4a", autobuffer: "true", title: "No (1)" }
      %audio{ src: "no-2.m4a", autobuffer: "true", title: "No (2)" }
      %audio{ src: "no-3.m4a", autobuffer: "true", title: "No (3)" }
      %audio{ src: "no-yes-no-yes.m4a", autobuffer: "true", title: "No yes no yes" }
      %audio{ src: "nope-fuck.m4a", autobuffer: "true", title: "Nope fuck" }
      %audio{ src: "nope-shit.m4a", autobuffer: "true", title: "Nope shit" }
      %audio{ src: "oh-shit-1.m4a", autobuffer: "true", title: "Oh shit (1)" }
      %audio{ src: "oh-shit-2.m4a", autobuffer: "true", title: "Oh shit (2)" }
      %audio{ src: "oh-shit-you-got-this-yes-yes.m4a", autobuffer: "true", title: "Oh shit, you got this, yes yes" }
      %audio{ src: "ow.m4a", autobuffer: "true", title: "Ow" }
      %audio{ src: "scream-1.m4a", autobuffer: "true", title: "Scream (1)" }
      %audio{ src: "scream-2.m4a", autobuffer: "true", title: "Scream (2)" }
      %audio{ src: "sure-thank-you.m4a", autobuffer: "true", title: "Sure, thank you" }
      %audio{ src: "thank-you.m4a", autobuffer: "true", title: "Thank you" }
      %audio{ src: "we-got-this.m4a", autobuffer: "true", title: "We got this" }
      %audio{ src: "what.m4a", autobuffer: "true", title: "What" }
      %audio{ src: "wow-1.m4a", autobuffer: "true", title: "Wow (1)" }
      %audio{ src: "wow-2.m4a", autobuffer: "true", title: "Wow (2)" }
      %audio{ src: "wtf.m4a", autobuffer: "true", title: "What the fuck" }
      %audio{ src: "yes-1.m4a", autobuffer: "true", title: "Yes (1)" }
      %audio{ src: "yes-2.m4a", autobuffer: "true", title: "Yes (2)" }
      %audio{ src: "yes-3.m4a", autobuffer: "true", title: "Yes (3)" }
      %audio{ src: "yes-4.m4a", autobuffer: "true", title: "Yes (4)" }
      %audio{ src: "yes-5.m4a", autobuffer: "true", title: "Yes (5)" }
      %audio{ src: "yes-6.m4a", autobuffer: "true", title: "Yes (6)" }
      %audio{ src: "yes-7.m4a", autobuffer: "true", title: "Yes (7)" }
      %audio{ src: "yes-8.m4a", autobuffer: "true", title: "Yes (8)" }
      %audio{ src: "yes-9.m4a", autobuffer: "true", title: "Yes (9)" }
      %audio{ src: "yes-10.m4a", autobuffer: "true", title: "Yes (10)" }
      %audio{ src: "yes-11.m4a", autobuffer: "true", title: "Yes (11)" }
      %audio{ src: "yes-12.m4a", autobuffer: "true", title: "Yes (12)" }
      %audio{ src: "yes-13.m4a", autobuffer: "true", title: "Yes (13)" }
      %audio{ src: "yes-14.m4a", autobuffer: "true", title: "Yes (14)" }
      %audio{ src: "yes-thats-what-im-talking-about.m4a", autobuffer: "true", title: "Yes, that's what I'm talking about" }
      %audio{ src: "you-got-this-1.m4a", autobuffer: "true", title: "You got this (1)" }
      %audio{ src: "you-got-this-2.m4a", autobuffer: "true", title: "You got this (2)" }
      %audio{ src: "you-got-this-chance-i-dont-blame-you.m4a", autobuffer: "true", title: "You got this, chance, I don't blame you" }
