!!!

%html{ lang: "en" }
  %head
    %link{ rel: "stylesheet", href: "app.css" }
    %link{ href: "favicon.png", rel: "shortcut icon", type: "image/png" }
    %meta{ property: "og:image", content: "http://i.imgur.com/0PGGbCQ.png" }
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" }
    %title Frankr.xyz
  %body
    Future home of Frankr.xyz
    %script{ src: "app.js" }
    #doc
      %h1 Frank Soundboard
      %h3 Every mistake can be forgiven...BUT NOT THIS ONE!!!
      -#%audio{ src: "bye-bye.m4a", autobuffer: "true", title: "bye-bye" }
      -#%audio{ src: "data-highway.m4a", autobuffer: "true", title: "data-highway" }
      %audio{ src: "fuck-1.m4a", autobuffer: "true", title: "fuck-1" }
      -#%audio{ src: "fuck-2.m4a", autobuffer: "true", title: "fuck-2" }
      -#%audio{ src: "fuck-3.m4a", autobuffer: "true", title: "fuck-3" }
      -#%audio{ src: "fuck-4.m4a", autobuffer: "true", title: "fuck-4" }
      -#%audio{ src: "fuck-5.m4a", autobuffer: "true", title: "fuck-5" }
      -#%audio{ src: "hit-my-ball.m4a", autobuffer: "true", title: "hit-my-ball" }
      %audio{ src: "laugh-1.m4a", autobuffer: "true", title: "laugh-1" }
      %audio{ src: "my-bad.m4a", autobuffer: "true", title: "my-bad" }
      -#%audio{ src: "nice-d.m4a", autobuffer: "true", title: "nice-d" }
      %audio{ src: "no-1.m4a", autobuffer: "true", title: "no-1" }
      -#%audio{ src: "oh-shit.m4a", autobuffer: "true", title: "oh-shit" }
      %audio{ src: "ow-1.m4a", autobuffer: "true", title: "ow-1" }
      %audio{ src: "scream-1.m4a", autobuffer: "true", title: "scream-1" }
      %audio{ src: "scream-2.m4a", autobuffer: "true", title: "scream-2" }
      %audio{ src: "thank-you.m4a", autobuffer: "true", title: "thank-you" }
      %audio{ src: "we-got-this.m4a", autobuffer: "true", title: "we-got-this" }
      %audio{ src: "what-1.m4a", autobuffer: "true", title: "what-1" }
      %audio{ src: "wow-1.m4a", autobuffer: "true", title: "wow-1" }
      %audio{ src: "wow-2.m4a", autobuffer: "true", title: "wow-2" }
      %audio{ src: "wtf-1.m4a", autobuffer: "true", title: "wtf-1" }
      %audio{ src: "yes-1.m4a", autobuffer: "true", title: "yes-1" }
      %audio{ src: "yes-2.m4a", autobuffer: "true", title: "yes-2" }
      %audio{ src: "yes-3.m4a", autobuffer: "true", title: "yes-3" }
      %audio{ src: "yes-4.m4a", autobuffer: "true", title: "yes-4" }
      %audio{ src: "yes-5.m4a", autobuffer: "true", title: "yes-5" }
      %audio{ src: "yes-6.m4a", autobuffer: "true", title: "yes-6" }
      -#%audio{ src: "yes-7.m4a", autobuffer: "true", title: "yes-7" }
      -#%audio{ src: "yes-8.m4a", autobuffer: "true", title: "yes-8" }
      -#%audio{ src: "yes-9.m4a", autobuffer: "true", title: "yes-9" }
      -#%audio{ src: "yes-10.m4a", autobuffer: "true", title: "yes-10" }
      -#%audio{ src: "yes-11.m4a", autobuffer: "true", title: "yes-11" }
